h1{
    color:aqua;
    text-shadow: 1px 1px 2px orangered;
    font-size: 3rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a2e;
    color:#fff;
    font-family: Arial;

}
.clock{
    background-color: #16213e;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}